sonar.projectKey=com.example:continuous-integration-demo
sonar.projectName=Continuous Integration Demo Project

sonar.sources=.
sonar.language=cs
sonar.dotnet.key.generation.strategy=safe
sonar.sourceEncoding=UTF-8

sonar.host.url=http://172.16.254.2/sonar/
sonar.jdbc.url=jdbc:h2:tcp://172.16.254.2:9092/sonar

sonar.fxcop.mode=skip

